/* Styles for the body section */
body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Styles for the main section */
main {
    position: relative;
    min-height: 100vh;
}

/* Styles for the container class inside the main */
.container {
    max-width: 1000px;
    margin: 30px auto;
}