/* Styles for the filters class which is a child of container */
.container .filters {
    background-color: white;
    height: 25%; 
    width: 100%; 
    border: 1px solid #DDDDDD; 
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: opacity 0.3s;
}

/* Styles for the button tag that is a child of the filters class */
.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    cursor: pointer;
}

/* Styles for the button label to give it an opacity when hovering over the button */
.filters  button:hover {
    opacity: 0.9;
}

/* Styles for the location class */
.locations {
    border-right: 1px solid #DDDDDD;
}

/* Styles for the location class */
.amenities {
    margin-right: 270px;
}

/* Styles for amenetis and location classes that have the same declarations */ 
.locations,
.amenities {
    height: 100%;
    width: 25%;
}

/* Styles for the h3 title that is a child of the classes and has the same declarations */
.locations h3,
.amenities h3 {
    font-weight: 600;
    margin-left: 40px;

}

/* Styles for the h4 title that is a child of the classes and has the same declarations */
.locations h4,
.amenities h4 {
    margin-top: -10px;
    font-weight: 400;
    font-size: 14px;
    margin-left: 40px;
}

/* Styles for dropdown menus they do not appear at the start of the page*/
.filters .popover {
    background-color: rgb(250, 250, 250);
    padding-left: 25px;
    display: none;
    padding-right: 85px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    height: 300px;
    width: 141px;
    overflow: auto;
}
.first-ul-popover {
    margin-left: -12px;
    margin-top: 25px;
}
.second-ul-popover {
    margin-left:  -8px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.filters .popover::-webkit-scrollbar {
    display: none;
}

/* Styles for dropdown menus so they appear when you hover over them */
.filters .locations:hover .popover,
.filters .amenities:hover .popover {
    display: block;
}

/* styles with internal space for unordered lists of location*/
.filters .locations ul {
    padding: 6px 0 6px 0;
}

/* Styles for lists of class location*/
.filters .locations li {
    margin: 0 auto 6px;
    list-style: none;
    padding-left: 25px;
}

/* Styles for lists of class amenities */
.filters .amenities li {
    margin: 12px 0;
    list-style: none;
}

/* Styles for the h2 type title of the location dropdown menu */
.filters h2 {
    font-size: 16px;
    font-weight: bold;
    line-height: 0px;
}
/* Styles for the unordered list of the popover class that is a child of ameneties */

.popover .third-ul-popover {
    margin-top: 24px;
    margin-left: -65px;
}