<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirBnB clone</title>
    <link rel="icon" type="image/png" href="../static/images/icon.ico">
    <link rel="stylesheet" href="../static/styles/3-header.css">
    <link rel="stylesheet" href="../static/styles/3-footer.css">
    <link rel="stylesheet" href="../static/styles/4-common.css">
    <link rel="stylesheet" href="../static/styles/6-filters.css">
</head>
<body>
    <!-- Section of the header part -->
    <header>

    </header>

    <!-- Section of the main part -->
    <main>
        <div class="container"> <!-- Section for page information search -->
            <section class="filters">
                <div class="locations"> <!-- Section that will show you the locations in different places -->
                    <h3>States</h3>
                    <h4>&nbsp;</h4>
                    <div class="popover"> <!-- Pull-out section for the states -->
                        <ul class="first-ul-popover"> <!-- shows list of statuses -->
                            {% for item_state in states | sort(attribute='name') %}
                            <li>
                                <h2><b>{{ item_state.name }}</b></h2>
                                <ul class="second-ul-popover"> <!-- shows the list of cities -->
                                {% for item_city in item_state.cities | sort(attribute='name') %}
                                <li>{{ item_city.name }}</li>
                                {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="amenities"> <!-- Section that shows you the comforts that the client is looking for -->
                    <h3>Amenities</h3>
                    <h4>&nbsp;</h4>
                    <div class="popover"> <!-- Pull-out section for the Amenities -->
                        <ul class="third-ul-popover">
                            {% for item_amenety in amenities | sort(attribute='name') %}
                            <li><h4>{{ item_amenety.name}}</h4></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <button>Search</button> <!-- Search button -->
            </section>
        </div>
    </main>

    <!-- Section of the footer part -->
    <footer>
        Holberton School
    </footer>
</body>
</html>